*.dart linguist-language=Dart

android/** linguist-detectable=false
ios/** linguist-detectable=false
windows/** linguist-detectable=false
macos/** linguist-detectable=false
linux/** linguist-detectable=false
build/** linguist-detectable=false
web/** linguist-detectable=false

*.png binary
*.webp binary
*.jpg binary
